/* new css file */
.search-button {
  margin-top: 15px;
  width: 318px;
  padding: 25px;
  min-height: 30px;
  border-radius: 5px !important;
}

.buttonHistory {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  width: 318px;
  min-height: 30px;
}

.form-input {
  width: 318px !important;
  min-height: 40px !important;
}

.oneDayBox {
  padding: 10%;
  border: 1px solid black;
  min-height: 200px;
}

.oneDayBox p {
  font-size: large;
  font-weight: 400;
}

.fiveDaysBox {
  margin: 1%;
  padding: 1%;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .list-group {
    align-items: center;
  }
}
